#aboutme {
  border-bottom: thin solid #dddddd;
  display: inline-block;
  margin: 20px 0 20px 0;
  padding: 0 0 20px 0;

  h2 {
    margin-bottom: 10px;
  }

  table {
    td{
      padding: 5px 0;

      &.key {
        color: purple;
        text-align: right;
      }

      &.colon {
        padding: 0 10px;
      }

      &.value {
        color: blue;

        a {
          color: blue;

          &:visited {
            color: blue;
          }
        }
      }

    }
  }

  .brackets {
    font-size: 25px;
    font-weight: bold;
  }
}