
  <div class="topdiv">
    <a href="{{www}}">{{site_title}}</a>
  </div>

  <div class="bottomdiv">
    <div class="social">
      <a href="https://github.com/JochenTimmermans" target="_blank"><i class="fa fa-2x fa-github"></i></a>
      <a href="https://www.linkedin.com/in/jochen-timmermans-957ba8110/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
      
    </div>
    <div class="contact">    
      <a href="{{www}}contact/">Contact</a>
    </div>
  </div>