<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"> {{ site_title }} </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{ www }}business/">Businesses</a></li>
      <li><a href="{{ www }}business/countries/">countries</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ www }}business/add/"><span class="glyphicon glyphicon-plus"></span> Add Business</a></li>
    </ul>
      
    
  </div>
</nav>
